In [39]:
%matplotlib inline
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt
import numpy as np

import matplotlib
matplotlib.rcParams['pdf.fonttype'] = 42
import matplotlib.pyplot as pyplot

In [40]:
wmm_marathons = pd.read_excel("All_winners_marathons.xlsx")
wmm_marathons.head(10)

,date,m_winner,m_country,m_time,f_winner,f_country,f_time,marathon
0,1970,Gary Muhrcke,USA,02:31:39,NaN,NaN,NaN,New York
1,1971,Norm Higgins,USA,02:22:54,Beth Bonner,USA,02:55:22,New York
2,1972,Sheldon Karlin,USA,02:27:52,Nina Kuscsik,USA,03:08:41,New York
3,1973,Tom Fleming,USA,02:21:55,Nina Kuscsik,USA,02:57:08,New York
4,1974,Norbert Sander,USA,02:26:31,Kathrine Switzer,USA,03:07:29,New York
5,1975,Tom Fleming,USA,02:19:27,Kim Merritt,USA,02:46:14,New York
6,1976,Bill Rodgers,USA,02:10:09,Miki Gorman,USA,02:39:11,New York
7,1977,Bill Rodgers,USA,02:11:20,Miki Gorman,USA,02:43:10,New York
8,1978,Bill Rodgers,USA,02:12:12,Grete Waitz,NOR,02:32:30,New York
9,1979,Bill Rodgers,USA,02:11:42,Grete Waitz,NOR,02:27:33,New York

In [41]:
New_York = wmm_marathons[wmm_marathons['marathon'] == 'New York']
New_York

,date,m_winner,m_country,m_time,f_winner,f_country,f_time,marathon
0,1970,Gary Muhrcke,USA,02:31:39,NaN,NaN,NaN,New York
1,1971,Norm Higgins,USA,02:22:54,Beth Bonner,USA,02:55:22,New York
2,1972,Sheldon Karlin,USA,02:27:52,Nina Kuscsik,USA,03:08:41,New York
3,1973,Tom Fleming,USA,02:21:55,Nina Kuscsik,USA,02:57:08,New York
4,1974,Norbert Sander,USA,02:26:31,Kathrine Switzer,USA,03:07:29,New York
5,1975,Tom Fleming,USA,02:19:27,Kim Merritt,USA,02:46:14,New York
6,1976,Bill Rodgers,USA,02:10:09,Miki Gorman,USA,02:39:11,New York
7,1977,Bill Rodgers,USA,02:11:20,Miki Gorman,USA,02:43:10,New York
8,1978,Bill Rodgers,USA,02:12:12,Grete Waitz,NOR,02:32:30,New York
9,1979,Bill Rodgers,USA,02:11:42,Grete Waitz,NOR,02:27:33,New York
10,1980,Alberto Salazar,USA,02:09:41,Grete Waitz,NOR,02:25:42,New York
11,1981,Alberto Salazar,USA,02:08:13,Allison Roe,NZL,02:25:29,New York
12,1982,Alberto Salazar,USA,02:09:29,Grete Waitz,NOR,02:27:14,New York
13,1983,Rod Dixon,NZL,02:08:59,Grete Waitz,NOR,02:27:00,New York
14,1984,Orlando Pizzolato,ITA,02:14:53,Grete Waitz,NOR,02:29:30,New York
15,1985,Orlando Pizzolato,ITA,02:11:34,Grete Waitz,NOR,02:28:34,New York
16,1986,Gianni Poli,ITA,02:11:06,Grete Waitz,NOR,02:28:06,New York
17,1987,Ibrahim Hussein,KEN,02:11:01,Priscilla Welch,GBR,02:30:17,New York
18,1988,Steve Jones,GBR,02:08:20,Grete Waitz,NOR,02:28:07,New York
19,1989,Juma Ikangaa,TAN,02:08:01,Ingrid Kristiansen,NOR,02:25:30,New York
20,1990,Douglas Wakiihuri,KEN,02:12:39,Wanda Panfil,POL,02:30:45,New York
21,1991,Salvador García,MEX,02:09:28,Liz McColgan,GBR,02:27:32,New York
22,1992,Willie Mtolo,RSA,02:09:29,Lisa Martin-Ondieki,AUS,02:24:40,New York
23,1993,Andrés Espinosa,MEX,02:10:04,Uta Pippig,GER,02:26:24,New York
24,1994,Germán Silva,ITA,02:11:21,Tegla Loroupe,KEN,02:27:37,New York
25,1995,Germán Silva,ITA,02:11:00,Tegla Loroupe,KEN,02:28:06,New York
26,1996,Giacomo Leone,ITA,02:09:54,Anuța Cătună,ROU,02:28:18,New York
27,1997,John Kagwe,KEN,02:08:12,Franziska Rochat-Moser,SUI,02:28:43,New York
28,1998,John Kagwe,KEN,02:08:45,Franca Fiacconi,ITA,02:25:17,New York
29,1999,Joseph Chebet,KEN,02:09:14,Adriana Fernández,MEX,02:25:06,New York
30,2000,Abdelkader El Mouaziz,MAR,02:10:09,Ljudmila Petrowa,RUS,02:25:45,New York
31,2001,Tesfaye Jifar,ETH,02:07:43,Margaret Okayo,KEN,02:24:21,New York
32,2002,Rodgers Rop,KEN,02:08:07,Joyce Chepchumba,KEN,02:25:56,New York
33,2003,Martin Kiptoo Lel,KEN,02:10:30,Margaret Okayo,KEN,02:22:31,New York
34,2004,Hendrick Ramaala,RSA,02:09:28,Paula Radcliffe,GBR,02:23:10,New York
35,2005,Paul Tergat,KEN,02:09:30,Jeļena Prokopčuka,GBR,02:24:41,New York
36,2006,Marílson dos Santos,BRA,02:09:58,Jeļena Prokopčuka,LAT,02:25:05,New York
37,2007,Martin Kiptoo Lel,KEN,02:09:04,Paula Radcliffe,GBR,02:23:09,New York
38,2008,Marílson dos Santos,BRA,02:08:43,Paula Radcliffe,GBR,02:23:56,New York
39,2009,Mebrahtom Keflezighi,USA,02:09:15,Derartu Tulu,ETH,02:28:52,New York
40,2010,Gebregziabher Gebremariam,ETH,02:08:14,Edna Ngeringwony Kiplagat,KEN,02:28:20,New York
41,2011,Geoffrey Kiprono Mutai,KEN,02:05:06,Firehiwot Dado,ETH,02:23:15,New York
42,2013,Geoffrey Kiprono Mutai,KEN,02:08:24,Priscah Jeptoo,KEN,02:25:07,New York
43,2014,Wilson Kipsang,KEN,02:10:59,Mary Keitany,KEN,02:25:07,New York
44,2015,Stanley Kipleting Biwott,KEN,02:10:34,Mary Keitany,KEN,02:24:25,New York
45,2016,Ghirmay Ghebreslassie,ERI,02:07:51,Mary Keitany,KEN,02:24:26,New York

In [42]:
New_York.shape

(46, 8)

In [43]:
New_York.dtypes

date         object
m_winner     object
m_country    object
m_time       object
f_winner     object
f_country    object
f_time       object
marathon     object
dtype: object

In [44]:
#wmm_marathons = wmm_marathons.set_index('date')
#wmm_marathons.head()

In [46]:
#New_York['date'] =  pd.to_datetime(New_York['date'])#, format='%Y')

In [47]:
New_York.dtypes

date         datetime64[ns]
m_winner             object
m_country            object
m_time               object
f_winner             object
f_country            object
f_time               object
marathon             object
dtype: object

In [48]:
#wmm_marathons
#pd.to_timedelta(df['m_time']) #---> SOMA Version 1
#df['total_time'] = df['hour'] + df['minutes'] / 60 + df['seconds'] / (60 * 60) #---> SOMA Version 1
#pd.to_timedelta(df['m_time'])(wmm_marathons['m_time'], format='%H:%M:%S').dt.time ---> Alex Version
#pd.to_datetime(df['Created Date']) #---> documents "Foundations"
#pd.to_datetime(df['Created Date']) #---> documents "Foundations"
#raw_data['Mycol'] =  pd.to_datetime(raw_data['Mycol'], format='%d%b%Y:%H:%M:%S.%f') #---> Stackoverflow
#New_York['m_time'] =  pd.to_timedelta(New_York['m_time'], format='%I:%M:%S') 


#from datetime import timedelta

#New_York['m_time'] =  pd.to_timedelta(New_York['m_time'], format='%I:%M:%S')

In [38]:
from datetime import timedelta

pd.to_timedelta(New_York['m_time'])

ValueError: Invalid type for timedelta scalar: <class 'datetime.time'>

In [ ]:
#MEN | Converting | datetime
New_York.dtypes

In [ ]:
New_York['f_time'] =  pd.to_datetime(New_York['f_time'], format='%I:%M:%S') 
New_York['f_time'].head()

In [ ]:
#df = df.sort_values('date', ascending=True)
#plt.plot(df['date'], df['count'])
#plt.xticks(rotation='vertical')

New_York = New_York.sort_values('date', ascending=True)
plt.plot(New_York['date'], New_York['m_time'])

In [ ]:
New_York.groupby('m_winner')['m_country'].count().sort_values(ascending=True).plot(kind='bar')

In [ ]:
#df['date_int'] = df.date.astype(np.int64) ---> Stackoverflow
#New_York['m_time_int'] = New_York.m_time.astype(np.int64)

In [ ]:
#NEW YORK | Countries | Men – Women

fig = plt.figure()
ax = fig.add_subplot(121) # hoch/runter
ax2 = fig.add_subplot(122) # seitlich
New_York.groupby('m_country')['m_winner'].count().sort_values(ascending=True).plot(title='Men', color='#81D8D0', kind='barh', x='m_winner', ax=ax, y='m_country', figsize=(15,7))
New_York.groupby('f_country')['f_winner'].count().sort_values(ascending=True).plot(title='Women', color='#5B9EFF' ,kind='barh', x='f_winner', ax=ax2, y='m_country', figsize=(15,7))

In [ ]:
#BOSTON | Countries | Men – Women
fig = plt.figure()
ax = fig.add_subplot(121) # hoch/runter
ax2 = fig.add_subplot(122) # seitlich
Boston.groupby('m_country')['m_winner'].count().sort_values(ascending=True).plot(title='Men', color='#81D8D0', kind='barh', x='m_winner', ax=ax, y='m_country', figsize=(15,7))
Boston.groupby('f_country')['f_winner'].count().sort_values(ascending=True).plot(title='Women', color='#5B9EFF' ,kind='barh', x='f_winner', ax=ax2, y='m_country', figsize=(15,7))

In [ ]:
#wmm_marathons['m_time'] = pd.to_datetime(wmm_marathons.m_time)
#pd.to_datetime(wmm_marathons['m_time'])

#df['Time'] = pd.to_datetime(df.Time)
#pd.to_datetime(df['Created Date'])

#pd.to_datetime(wmm_marathons['m_time'], format='%H:%M:%S').dt.time

In [ ]:
#wmm_marathons.groupby('marathon')['boston_m_winner'].count().sort_values(ascending=True).plot(color='#81D8D0', figsize=(10,5), kind='barh')#df_Boston_marathon.groupby('boston_f_country').value_counts().plot(color='#5B9EFF', figsize=(6,20), kind='barh', ax=ax, position=1)
#wmm_marathons.groupby(['marathon'] == New York).head()